@import "styles.css";

nav{
    display: flex;
    margin: 0.5rem;

    p.selected{
        text-decoration: underline;
    }

    p.done{
        opacity: 0.65;
    }

    p:not(:last-of-type):after {
        content: " / ";
    }
}

main{

    section{
        grid-column: 1 / -1;
        padding: 2rem;

        header{
            h2{
                font-size: var(--size-1);
            }
        }

        form{
            margin-block: 1rem;

            div{
                display: flex;
                flex-direction: column;
                gap: 0.5rem;

                input{
                    border: thin solid var(--darkCol);
                    margin-bottom: 1rem;
                    max-width: 25rem;
                }

            }

            div.flex-row{
                flex-direction: row;
                align-items: center;
            }

            div.card-choice{
                gap: 1rem;
                margin-block: 0.5rem 1rem;
            }

            input[type=radio]{
                margin:0;
            }

            .form-buttons{
                justify-content: space-around;
                margin-top: 1rem;
            }
            
            
        }
        .back-btn{
            background: var(--gradient-135-light-to-accent-three);
            padding: 1rem 3rem;
        }

        .submit-btn{
            background: var(--gradient-315-light-to-accent-two);
            padding: 1rem 3rem;
        }
    }

    #purchase-confirmed-section{
        grid-column: 1 / -1;
        margin-block: 3rem;

        header{
            h2{
                margin-bottom: 2rem;
            }
        }

        p{
            text-align: center;
            margin-block: 0.5rem;
            max-width: 45ch;
        }

        p#order-id{
            font-size: var(--size-1);
        }

        .back-to-home{
            align-self: center center;
            margin-top: 3rem;
        }
    }

    #shipping-address-section, #payment-method-section, #purchase-confirmed-section{
        justify-items: center;
    }


    #purchase-overview{
        grid-column: 1 / -1;
        background: var(--gradient-315-light-to-accent-one);

        header{
            h2{
                margin-inline: 2rem;
                margin-top: 2rem;
                font-size: var(--size-1);
                text-align: center;
            }
        }

        #items-for-purchase{
            padding: 1rem 2rem;

            article{
                display: flex;
                gap: 01rem;
                align-items: center;
                margin: 0.5rem;

                img{
                    max-width: 20%;
                    height: auto;
                }

                .product-title{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: var(--size--1);
                }

                .product-prize{
                    font-size: var(--size-0);
                }

                button{
                    svg{
                        max-width: 100%;
                        height: auto;
                    }
                }

            }
        }

        #items-totalt-cost{

            padding: 0rem 2rem 2rem 2rem;

            p{
                font-size: var(--size-1);
                text-align: end;
                padding-right: 1rem;
            }
        }
    }
}


@media (min-width: 600px){

    main{

        section{
            grid-column: 1 / 8;
        }

        #purchase-overview{
            grid-column: 8 / -1;
        }
    }
}

@media (min-width: 1000px){

    main{

        section{
            grid-column: 1 / 16;
        }

        #purchase-overview{
            grid-column: 16 / -1;
        }
    }
}