/* dialog{
    padding: 3rem 1rem;
    display: flex;
    flex-direction: column;
    background: var(--lightCol);
    align-items: center;
}

dialog#basket-model{
    

    div{
        display: flex;

        button#close-basket-model{
            background: var(--accentColOne);
            padding: 1rem 2rem;
            margin-top: 1.5rem;
        }

        button#check-out-btn{
            background: var(--accentColTwo);
            padding: 1rem 2rem;
            margin-top: 1.5rem;
        }
    }
}

dialog#change-language-model{

    p{
        text-align: center;
        margin-bottom: 1rem;
        max-width: 40ch;
    }

    button#close-language-model{
        background: var(--accentColOne);
        padding: 1rem 2rem;
        margin-top: 1.5rem;
    }
    
}

@media (min-width: 600px){
    
    dialog{
   
    padding: 5rem 3rem;

}
    
}

@media (min-width: 1000px){


} */