dialog{
   
    padding: 3rem 1rem;

}

dialog#basket-icon-drop-down{

}

dialog#change-language-model{

    display: flex;
    flex-direction: column;
    background: var(--lightCol);
    align-items: center;

    p{
        text-align: center;
        margin-bottom: 1rem;
        max-width: 40ch;
    }

    button#close-model{
        background: var(--accentColOne);
        padding: 1rem 2rem;
        margin-top: 1.5rem;
    }
    
}

@media (min-width: 600px){
    
    dialog{
   
    padding: 5rem 3rem;

}
    
}

@media (min-width: 1000px){


}