@import "styles.css";


main{

    > header{
        grid-column: 1 / -1;
        background: var(--frontPage);
        padding-block: 3rem;

        display: grid;
        grid-template-columns: var(--grid-small);

        h1{
            grid-column: 1 / 9;
            margin-block: 0.5rem;
            margin-inline: auto;
            font-size: var(--size-2);
            font-weight: var(--thickFont);
        }

        h2{
            grid-column: 1 / -1;
            margin-block: 0.5rem;
            margin-inline: auto;
            font-size: var(--size-3);
            font-family: var(--fontRubikGlitch);
            font-style: italic;
        }
    }
}

@media (min-width: 600px){

    main{

        > header{
            padding-block: 5rem;

            h1{
                margin-block: 1rem;
                font-size: var(--size-3);
            }

            h2{
                margin-block: 1rem;
                font-size: var(--size-5);
            }
        }
    }   
}

@media (min-width: 1000px){

    main{

        > header{
            grid-template-columns: var(--grid-big);
            padding-block: 10rem;

            h1{
                grid-column: 2/ -13;
                margin-block: 1rem;
                font-size: var(--size-4);
            }

            h2{
                grid-column: 5/ -2;
                margin-block: 1rem;
                font-size: var(--size-7);
            }
        }
    }
}