@import "styles.css";


main{

    > header{
        grid-column: 1 / -1;
        background: var(--frontPage);
        padding-block: 3rem;

        display: grid;
        grid-template-columns: var(--grid-small);

        h1{
            grid-column: 1 / 9;
            margin-block: 0.5rem;
            margin-inline: auto;
            font-size: var(--size-2);
            font-weight: var(--thickFont);
        }

        h2{
            grid-column: 1 / -1;
            margin-block: 0.5rem;
            margin-inline: auto;
            font-size: var(--size-3);
            font-family: var(--fontRubikGlitch);
            font-style: italic;
        }
    }

   #images_front_page{
        grid-column: 1 / -1 ;
        display: grid;
        grid-template-columns: var(--grid-small);
        overflow: hidden;
        max-height: 90%;

        img{
            max-width: 100%;
            height: auto;
            opacity: 0.85;

        }
       
        img:nth-of-type(1){
            grid-column: 1 / 6;
            grid-row: 1 / 3;
        }

        img:nth-of-type(2){
            grid-column: 6 / -1;
            grid-row: 1;
        }

        img:nth-of-type(3){
            grid-column: 6 / -1;
            grid-row: 2;
        }
    }
}

@media (min-width: 600px){

    main{

        > header{
            padding-block: 5rem;

            h1{
                margin-block: 1rem;
                font-size: var(--size-3);
            }

            h2{
                margin-block: 1rem;
                font-size: var(--size-5);
            }
        }

    }  
}

@media (min-width: 1000px){

    main{

        > header{
            grid-template-columns: var(--grid-big);
            padding-block: 10rem;

            h1{
                grid-column: 2/ -13;
                margin-block: 1rem;
                font-size: var(--size-4);
            }

            h2{
                grid-column: 5/ -2;
                margin-block: 1rem;
                font-size: var(--size-7);
            }
        }
    }
}