@import "styles.css";


main{

    > header{
        grid-column: 1 / -1;
        background: var(--frontPage);

        display: grid;
        grid-template-columns: var(--grid-small);

        h1{
            grid-column: 5 / 7;
            font-size: var(--size-4);
        }

        h2{
            grid-column: 6 / 9;
            font-size: var(--size-3);
        }
    }
}

@media (min-width: 600px){

    main{

        > header{

            display: grid;
            grid-template-columns: var(--grid-small);

            h1{
                grid-column: 5 / 7;
            }

            h2{
                grid-column: 6 / 9;
            }
        }
    }   
}

@media (min-width: 1000px){

    main{

        > header{

            display: grid;
            grid-template-columns: var(--grid-big);
            padding-block: 10rem;

            h1{
                grid-column: 2/ -13;
                margin-block: 1rem;
                margin-inline: auto;
                font-size: var(--size-5);
                font-weight: var(--thickFont);
            }

            h2{
                grid-column: 5/ -2;
                margin-inline: auto;
                margin-block: 1rem;
                font-size: var(--size-8);
                font-family: var(--fontRubikGlitch);
                font-style: italic;
            }
        }
    }
}