@import "styles.css";

main{

    header{
        grid-column: 1 / -1;

        h1{
            text-align: center;
            font-size: var(--size-2);
            margin-block: 3rem;
        }
    }

    section{

        grid-column: 1 / -1;
        
        display: grid;

        grid-template-columns: 1fr 1fr;
        gap: 2rem;

        margin: 1rem;
        margin-bottom: 3rem;

        place-items: center center;

        a{
            text-decoration: none;

            article{
                display: flex;
                flex-direction: column;
                gap: 0.3rem;

                max-width: 150px;

                img{
                    width: auto;
                    max-height: 150px;
                    place-self: center;
                }

                header{

                    display: inherit;
                    flex-direction: inherit;
                    gap: inherit;

                    h2{
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-size: var(--size--1);

                    }

                    h3{
                        font-size: var(--size-1);

                        span{
                            font-size: inherit;
                        }
                    }
                }

                p{
                    font-size: var(--size--1);

                    span{
                        font-size: inherit;
                    }
                }
            }
        }
    }
}

@media (min-width: 600px){
    main{

        section{

            grid-template-columns: 1fr 1fr 1fr;

        }
    }
}


@media (min-width: 1000px){

     main{

        section{

            grid-template-columns: 1fr 1fr 1fr 1fr;

        }
    }

}

@media (min-width: 1400px){

     main{

        section{

            margin-inline: 10%;

            a{

                article{

                    max-width: 250px;

                    img{
                        max-height: 250px;
                    }
                }
            }
        }
    }

}