@import "styles.css";

nav{
    display: grid;
    grid-template-columns: var(--grid-small);

    a.back-btn{
        svg{
            display: none;
        }
    }

    p{ 
        grid-column: 1/-1;
        padding: 1rem 0.5rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: var(--size--1);

        a{
            font-size: inherit;

            .category-title-nav{
                font-size: inherit;
            }
        }
        
        .product-title-nav{
            font-size: inherit;
            font-weight: var(--thickFont);
        }
    }

    p::first-letter{
        text-transform: capitalize;
    }
}

main{

    padding-block: 2rem;

    img{
        grid-column: 2 / -2;
        max-width: 100%;
        height: auto;
        margin-block: 0.5rem;
    }

    section{
        grid-column: 2 / -2;

        header{
            h1{
                margin-block: 1rem;
            }

            h2{
                margin-block: 1rem;
                font-size: var(--size-1);

                span{
                    font-size: inherit;
                }
            }
        }

        details{
            margin-block: 1rem;

            .product-description{
                font-size: var(--size--1);
            }
        }

        p.product-rating{
            margin-block: 1rem;
            font-size: var(--size--1);

            .rating, .rating-count{
                font-size: inherit;
            }
        }

    }

    form#product-size-form{
        grid-column: 2/-2;
        grid-row: 4;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding-top: 1rem;

        select{
            border: thin solid var(--darkCol);
            padding-block: 0.5rem;

            option{
                text-align: center;
            }
        }

        button{
            margin-block: 1rem;
            padding: 1rem 2rem;
            background: var(--gradient-315-accent-one-to-accent-two);
        }
    }

    #system-message{
        grid-column: 2/-2;
        grid-row: 5;
        text-align: center;
    }

}

@media (min-width: 600px){

    nav{
        a.back-btn{
             grid-column: 1/2;
             padding: 1rem 1rem;
            svg{
                display: block;
            }
        }

        p{ 
            grid-column: 2/-1;
        }
    }

    main{
        padding-block: 5rem;

        img{
            grid-column: 2 / 6;
            grid-row: 1/3;
        }

        section{
            grid-column: 7 / -2;

            header{
                h1{
                    margin-top: 0.5rem;
                }

                h2{
                    margin-block: 2rem;
                }
            }

        }

        form#product-size-form{
            grid-column: 7/-2;
            grid-row: 2;

            button{
                padding: 1rem 3rem;
                place-self: center center;
            }
        }

        #system-message{
            grid-column: 7/-2;
            grid-row: 3;
        }

    }
   
}



@media (min-width: 1000px){

    nav{
        grid-template-columns: var(--grid-big);

        a.back-btn{
            padding: 0.5rem 0.5rem;
        }

        p{ 
            grid-column: 3/-1;
        }

    }

    main{
        padding-block: 3rem;

        img{
            grid-column: 6 / 11;
        }

        section{
            grid-column: 14 / -6;

        }

        form#product-size-form{
            grid-column: 14/-6;
            grid-row: 2;

        }

        #system-message{
            grid-column: 14/-6;
            grid-row: 3;
        }

    }

}