@import "reset.css";
@import "variables.css";
@import "dialog_tag.css";

*{
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: var(--mediumFont);
  color: var(--darkCol);
  font-size: var(--size-0);
}

.hidden{
    display: none;
}

body {

    > header{
        background: var(--lightCol);
        display: grid;
        grid-template-columns: var(--grid-small);
        contain: content;

        button{

            img{
                width: 100%;
                height: auto;
                place-self: center;
            }
        }

        #logo-link{
            grid-column: 2;
            padding-block: 0.5rem;
        }

        #btn-category-woman{
            grid-column: 1/7;
            grid-row: 2;
            text-decoration: none;
            background: var(--gradient-45-light-to-accent-two);
            align-content: center;
            text-align: center;
        }
        #btn-category-men{
            grid-column: 7/-1;
            grid-row: 2;
            text-decoration: none;
            background: var(--gradient-225-light-to-accent-one);
            align-content: center;
            text-align: center;
        }
        #log-in-btn{
            grid-column: -8/-6;
            align-content: center;
            text-align: center;
            text-decoration: none;
            font-size: var(--size--1);
        }
        #log-out-btn{
            grid-column: -8/-6;
            align-content: center;
            text-align: center;
            text-decoration: none;
            font-size: var(--size--1);
        }
        #sign-up-btn{
            grid-column: -6/-4;
            align-content: center;
            text-align: center;
            text-decoration: none;
            font-size: var(--size--1);
        }
        #btn-user-basket{
            grid-column: -4;
        }
        #btn-user-language{
            grid-column: -3;
        }

        > section{
            grid-column: 1 / -1;
            background-color: var(--accentColTwo);

            > p{
               text-align: center;
                font-size: var(--size--1); 
                font-weight: var(--thickFont);
                margin-block: 0.2rem;
            }
        }
    }


    main{
        display: grid;
        grid-template-columns: var(--grid-small);

    }

    footer{
        display: grid;
        grid-template-columns: var(--grid-small);
        gap: 0.5rem;
        padding-inline: 0.5rem;

        .social-media{
            grid-column: 1/-1;
            grid-row: 1;
            display: flex;
            flex-direction: row;
            gap: 1rem;
            justify-content: center;
            border-bottom: 2px solid var(--accentColTwo);
            padding: 0.5rem;

            svg{
                width: 8%;
                height: auto;
            }
        }

        section{
            p, svg{
                cursor: pointer;
            }
        }

        .question-section{
            grid-column: 1/5;
            grid-row: 2;
            place-self: start center;

            p{
                 font-size: var(--size--1);
            }
        }

        .about-section{
            grid-column: 5/9;
            grid-row: 2;
            place-self: start center;

            p{
                 font-size: var(--size--1);
            }
        }

        .policies-section{
            grid-column: -1/-5;
            grid-row: 2;
            place-self: start center;
            
            p{
                 font-size: var(--size--1);
            }
        }

        > p{
            grid-column: 1/-1;
            grid-row: 3;
            text-align: center;
            font-size: var(--size--1);
            border-top: 2px solid var(--accentColTwo);
            padding: 0.5rem;
        }

    }

    #basket-model{

        #basket-icon-items{

            p{
                    text-align: center;
                    font-size: var(--size--1);
            }

            article{
                display: flex;
                gap: 01rem;
                align-items: center;
                margin: 0.5rem;

                img{
                    max-width: 20%;
                    height: auto;
                }

                .product-title{
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    font-size: var(--size--1);
                }

                .product-prize{
                    font-size: var(--size-0);
                }

                button{
                    svg{
                        max-width: 100%;
                        height: auto;
                    }
                }

            }
        }

        #close-or-buy-btns{
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin: 0.5rem;
            margin-top: 1rem;
            gap: 1rem;

            #close-basket-model{
                background: var(--gradient-135-light-to-accent-one);
                padding: 0.5rem;

                svg{
                    max-width: 30%;
                    height: auto;
                    place-self: center center;
                }
            }

            #check-out-btn{
                background: var(--gradient-135-light-to-accent-three);
                padding: 0.5rem;
            }
        }
    }

    #change-language-model{
        padding: 2rem;
        display: flex;
        flex-direction: column;

        p{
            margin-bottom: 1rem;
            text-align: center;
        }

        #close-language-model{
            background: var(--gradient-135-light-to-accent-one);
            padding: 0.5rem;
            width: 10rem;
            place-self: center center;
            margin-top: 0.5rem;

            svg{
                max-width: 20%;
                height: auto;
                place-self: center center;
            }
        }
    }
}

@media (min-width: 600px){
    body {

        > header{

            button{

                img{
                    width: 50%;
                    height: auto;
                }
            }
        }

        footer{
            gap: 1rem;
            padding-inline: 1rem;

            .social-media{
                gap: 1rem;
                padding: 1rem;

                svg{
                    width: 5%;
                    height: auto;
                }
            }
        }

        #basket-model{

            max-width: 30rem;

            #basket-icon-items{

                article{

                    img{
                        max-width: 20%;
                        height: auto;
                    }

                    .product-title{
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        font-size: var(--size--1);
                    }

                    .product-prize{
                        font-size: var(--size-0);
                    }

                    button{
                        svg{
                            max-width: 100%;
                            height: auto;
                        }
                    }

                }
            }

            #close-or-buy-btns{

                #close-basket-model{

                    svg{
                        max-width: 20%;
                    }
                }
            }
        }

        #change-language-model{
            max-width: 30rem;
        }
    }
}

@media (min-width: 1000px){
    body {

        > header{
            grid-template-columns: var(--grid-big);

            a{
                grid-column: 3;
            }

            #btn-category-woman{
                grid-column: 4/7;
                grid-row: 1;
            }
            #btn-category-men{
                grid-column: 7/10;
                grid-row: 1;
            }
            #log-in-btn{
                grid-column: -8/-6;
            }
            #sign-up-btn{
                grid-column: -6/-4;
            }
            #btn-user-basket{
                grid-column: -4;
            }
            #btn-user-language{
                grid-column: -3;
            }

        }

        main{
            grid-template-columns: var(--grid-big);
        }

       footer{

            .social-media{
                gap: 2rem;

                svg{
                    
                    width: 2%;
                    height: auto;
                }
            }

        }
    }
}